$/bond:mpd[0]/NC1 @/bond:GAFF/ca-n2 $/atom:mpd[0]/N $/atom:mpd[0]/C1
$/bond:mpd[0]/CC1 @/bond:GAFF/ca-ca $/atom:mpd[0]/C $/atom:mpd[0]/C1
$/bond:mpd[0]/CC2 @/bond:GAFF/ca-ca $/atom:mpd[0]/C $/atom:mpd[0]/C2
$/bond:mpd[0]/C1C5 @/bond:GAFF/ca-ca $/atom:mpd[0]/C1 $/atom:mpd[0]/C5
$/bond:mpd[0]/C2C3 @/bond:GAFF/ca-ca $/atom:mpd[0]/C2 $/atom:mpd[0]/C3
$/bond:mpd[0]/C3C4 @/bond:GAFF/ca-ca $/atom:mpd[0]/C3 $/atom:mpd[0]/C4
$/bond:mpd[0]/C4C5 @/bond:GAFF/ca-ca $/atom:mpd[0]/C4 $/atom:mpd[0]/C5
$/bond:mpd[0]/C4N1 @/bond:GAFF/ca-n2 $/atom:mpd[0]/C4 $/atom:mpd[0]/N1
$/bond:mpd[0]/NH4 @/bond:GAFF/hn-n2 $/atom:mpd[0]/N $/atom:mpd[0]/H4
$/bond:mpd[0]/CH @/bond:GAFF/ca-ha $/atom:mpd[0]/C $/atom:mpd[0]/H
$/bond:mpd[0]/C2H1 @/bond:GAFF/ca-ha $/atom:mpd[0]/C2 $/atom:mpd[0]/H1
$/bond:mpd[0]/C3H2 @/bond:GAFF/ca-ha $/atom:mpd[0]/C3 $/atom:mpd[0]/H2
$/bond:mpd[0]/C5H3 @/bond:GAFF/ca-ha $/atom:mpd[0]/C5 $/atom:mpd[0]/H3
$/bond:mpd[0]/N1H5 @/bond:GAFF/hn-n2 $/atom:mpd[0]/N1 $/atom:mpd[0]/H5
$/bond:mpd[1]/NC1 @/bond:GAFF/ca-n2 $/atom:mpd[1]/N $/atom:mpd[1]/C1
$/bond:mpd[1]/CC1 @/bond:GAFF/ca-ca $/atom:mpd[1]/C $/atom:mpd[1]/C1
$/bond:mpd[1]/CC2 @/bond:GAFF/ca-ca $/atom:mpd[1]/C $/atom:mpd[1]/C2
$/bond:mpd[1]/C1C5 @/bond:GAFF/ca-ca $/atom:mpd[1]/C1 $/atom:mpd[1]/C5
$/bond:mpd[1]/C2C3 @/bond:GAFF/ca-ca $/atom:mpd[1]/C2 $/atom:mpd[1]/C3
$/bond:mpd[1]/C3C4 @/bond:GAFF/ca-ca $/atom:mpd[1]/C3 $/atom:mpd[1]/C4
$/bond:mpd[1]/C4C5 @/bond:GAFF/ca-ca $/atom:mpd[1]/C4 $/atom:mpd[1]/C5
$/bond:mpd[1]/C4N1 @/bond:GAFF/ca-n2 $/atom:mpd[1]/C4 $/atom:mpd[1]/N1
$/bond:mpd[1]/NH4 @/bond:GAFF/hn-n2 $/atom:mpd[1]/N $/atom:mpd[1]/H4
$/bond:mpd[1]/CH @/bond:GAFF/ca-ha $/atom:mpd[1]/C $/atom:mpd[1]/H
$/bond:mpd[1]/C2H1 @/bond:GAFF/ca-ha $/atom:mpd[1]/C2 $/atom:mpd[1]/H1
$/bond:mpd[1]/C3H2 @/bond:GAFF/ca-ha $/atom:mpd[1]/C3 $/atom:mpd[1]/H2
$/bond:mpd[1]/C5H3 @/bond:GAFF/ca-ha $/atom:mpd[1]/C5 $/atom:mpd[1]/H3
$/bond:mpd[1]/N1H5 @/bond:GAFF/hn-n2 $/atom:mpd[1]/N1 $/atom:mpd[1]/H5
$/bond:tmcL[0]/CC1 @/bond:GAFF/ca-ca $/atom:tmcL[0]/C $/atom:tmcL[0]/C1
$/bond:tmcL[0]/CC3 @/bond:GAFF/ca-ca $/atom:tmcL[0]/C $/atom:tmcL[0]/C3
$/bond:tmcL[0]/C1C2 @/bond:GAFF/ca-ca $/atom:tmcL[0]/C1 $/atom:tmcL[0]/C2
$/bond:tmcL[0]/C1C8 @/bond:GAFF/c2-ca $/atom:tmcL[0]/C1 $/atom:tmcL[0]/C8
$/bond:tmcL[0]/C2C5 @/bond:GAFF/ca-ca $/atom:tmcL[0]/C2 $/atom:tmcL[0]/C5
$/bond:tmcL[0]/C3C4 @/bond:GAFF/ca-ca $/atom:tmcL[0]/C3 $/atom:tmcL[0]/C4
$/bond:tmcL[0]/C3C6 @/bond:GAFF/c1-ca $/atom:tmcL[0]/C3 $/atom:tmcL[0]/C6
$/bond:tmcL[0]/C4C5 @/bond:GAFF/ca-ca $/atom:tmcL[0]/C4 $/atom:tmcL[0]/C5
$/bond:tmcL[0]/C5C7 @/bond:GAFF/c1-ca $/atom:tmcL[0]/C5 $/atom:tmcL[0]/C7
$/bond:tmcL[0]/C6O1 @/bond:GAFF/c1-o $/atom:tmcL[0]/C6 $/atom:tmcL[0]/O1
$/bond:tmcL[0]/C7O2 @/bond:GAFF/c1-o $/atom:tmcL[0]/C7 $/atom:tmcL[0]/O2
$/bond:tmcL[0]/C8O @/bond:GAFF/c2-o $/atom:tmcL[0]/C8 $/atom:tmcL[0]/O
$/bond:tmcL[0]/C8O3 @/bond:GAFF/c2-oh $/atom:tmcL[0]/C8 $/atom:tmcL[0]/O3
$/bond:tmcL[0]/CH @/bond:GAFF/ca-ha $/atom:tmcL[0]/C $/atom:tmcL[0]/H
$/bond:tmcL[0]/C2H1 @/bond:GAFF/ca-ha $/atom:tmcL[0]/C2 $/atom:tmcL[0]/H1
$/bond:tmcL[0]/C4H2 @/bond:GAFF/ca-ha $/atom:tmcL[0]/C4 $/atom:tmcL[0]/H2
$/bond:tmcL[0]/O3H3 @/bond:GAFF/ho-oh $/atom:tmcL[0]/O3 $/atom:tmcL[0]/H3
$/bond:tmcL[1]/CC1 @/bond:GAFF/ca-ca $/atom:tmcL[1]/C $/atom:tmcL[1]/C1
$/bond:tmcL[1]/CC3 @/bond:GAFF/ca-ca $/atom:tmcL[1]/C $/atom:tmcL[1]/C3
$/bond:tmcL[1]/C1C2 @/bond:GAFF/ca-ca $/atom:tmcL[1]/C1 $/atom:tmcL[1]/C2
$/bond:tmcL[1]/C1C8 @/bond:GAFF/c2-ca $/atom:tmcL[1]/C1 $/atom:tmcL[1]/C8
$/bond:tmcL[1]/C2C5 @/bond:GAFF/ca-ca $/atom:tmcL[1]/C2 $/atom:tmcL[1]/C5
$/bond:tmcL[1]/C3C4 @/bond:GAFF/ca-ca $/atom:tmcL[1]/C3 $/atom:tmcL[1]/C4
$/bond:tmcL[1]/C3C6 @/bond:GAFF/c1-ca $/atom:tmcL[1]/C3 $/atom:tmcL[1]/C6
$/bond:tmcL[1]/C4C5 @/bond:GAFF/ca-ca $/atom:tmcL[1]/C4 $/atom:tmcL[1]/C5
$/bond:tmcL[1]/C5C7 @/bond:GAFF/c1-ca $/atom:tmcL[1]/C5 $/atom:tmcL[1]/C7
$/bond:tmcL[1]/C6O1 @/bond:GAFF/c1-o $/atom:tmcL[1]/C6 $/atom:tmcL[1]/O1
$/bond:tmcL[1]/C7O2 @/bond:GAFF/c1-o $/atom:tmcL[1]/C7 $/atom:tmcL[1]/O2
$/bond:tmcL[1]/C8O @/bond:GAFF/c2-o $/atom:tmcL[1]/C8 $/atom:tmcL[1]/O
$/bond:tmcL[1]/C8O3 @/bond:GAFF/c2-oh $/atom:tmcL[1]/C8 $/atom:tmcL[1]/O3
$/bond:tmcL[1]/CH @/bond:GAFF/ca-ha $/atom:tmcL[1]/C $/atom:tmcL[1]/H
$/bond:tmcL[1]/C2H1 @/bond:GAFF/ca-ha $/atom:tmcL[1]/C2 $/atom:tmcL[1]/H1
$/bond:tmcL[1]/C4H2 @/bond:GAFF/ca-ha $/atom:tmcL[1]/C4 $/atom:tmcL[1]/H2
$/bond:tmcL[1]/O3H3 @/bond:GAFF/ho-oh $/atom:tmcL[1]/O3 $/atom:tmcL[1]/H3
$/bond:tmcC[0]/CC1 @/bond:GAFF/ca-ca $/atom:tmcC[0]/C $/atom:tmcC[0]/C1
$/bond:tmcC[0]/CC3 @/bond:GAFF/ca-ca $/atom:tmcC[0]/C $/atom:tmcC[0]/C3
$/bond:tmcC[0]/C1C2 @/bond:GAFF/ca-ca $/atom:tmcC[0]/C1 $/atom:tmcC[0]/C2
$/bond:tmcC[0]/C1C8 @/bond:GAFF/c1-ca $/atom:tmcC[0]/C1 $/atom:tmcC[0]/C8
$/bond:tmcC[0]/C2C5 @/bond:GAFF/ca-ca $/atom:tmcC[0]/C2 $/atom:tmcC[0]/C5
$/bond:tmcC[0]/C3C4 @/bond:GAFF/ca-ca $/atom:tmcC[0]/C3 $/atom:tmcC[0]/C4
$/bond:tmcC[0]/C3C6 @/bond:GAFF/c1-ca $/atom:tmcC[0]/C3 $/atom:tmcC[0]/C6
$/bond:tmcC[0]/C4C5 @/bond:GAFF/ca-ca $/atom:tmcC[0]/C4 $/atom:tmcC[0]/C5
$/bond:tmcC[0]/C5C7 @/bond:GAFF/c1-ca $/atom:tmcC[0]/C5 $/atom:tmcC[0]/C7
$/bond:tmcC[0]/C6O1 @/bond:GAFF/c1-o $/atom:tmcC[0]/C6 $/atom:tmcC[0]/O1
$/bond:tmcC[0]/C7O2 @/bond:GAFF/c1-o $/atom:tmcC[0]/C7 $/atom:tmcC[0]/O2
$/bond:tmcC[0]/C8O @/bond:GAFF/c1-o $/atom:tmcC[0]/C8 $/atom:tmcC[0]/O
$/bond:tmcC[0]/CH @/bond:GAFF/ca-ha $/atom:tmcC[0]/C $/atom:tmcC[0]/H
$/bond:tmcC[0]/C2H1 @/bond:GAFF/ca-ha $/atom:tmcC[0]/C2 $/atom:tmcC[0]/H1
$/bond:tmcC[0]/C4H2 @/bond:GAFF/ca-ha $/atom:tmcC[0]/C4 $/atom:tmcC[0]/H2
$/bond:tmcC[1]/CC1 @/bond:GAFF/ca-ca $/atom:tmcC[1]/C $/atom:tmcC[1]/C1
$/bond:tmcC[1]/CC3 @/bond:GAFF/ca-ca $/atom:tmcC[1]/C $/atom:tmcC[1]/C3
$/bond:tmcC[1]/C1C2 @/bond:GAFF/ca-ca $/atom:tmcC[1]/C1 $/atom:tmcC[1]/C2
$/bond:tmcC[1]/C1C8 @/bond:GAFF/c1-ca $/atom:tmcC[1]/C1 $/atom:tmcC[1]/C8
$/bond:tmcC[1]/C2C5 @/bond:GAFF/ca-ca $/atom:tmcC[1]/C2 $/atom:tmcC[1]/C5
$/bond:tmcC[1]/C3C4 @/bond:GAFF/ca-ca $/atom:tmcC[1]/C3 $/atom:tmcC[1]/C4
$/bond:tmcC[1]/C3C6 @/bond:GAFF/c1-ca $/atom:tmcC[1]/C3 $/atom:tmcC[1]/C6
$/bond:tmcC[1]/C4C5 @/bond:GAFF/ca-ca $/atom:tmcC[1]/C4 $/atom:tmcC[1]/C5
$/bond:tmcC[1]/C5C7 @/bond:GAFF/c1-ca $/atom:tmcC[1]/C5 $/atom:tmcC[1]/C7
$/bond:tmcC[1]/C6O1 @/bond:GAFF/c1-o $/atom:tmcC[1]/C6 $/atom:tmcC[1]/O1
$/bond:tmcC[1]/C7O2 @/bond:GAFF/c1-o $/atom:tmcC[1]/C7 $/atom:tmcC[1]/O2
$/bond:tmcC[1]/C8O @/bond:GAFF/c1-o $/atom:tmcC[1]/C8 $/atom:tmcC[1]/O
$/bond:tmcC[1]/CH @/bond:GAFF/ca-ha $/atom:tmcC[1]/C $/atom:tmcC[1]/H
$/bond:tmcC[1]/C2H1 @/bond:GAFF/ca-ha $/atom:tmcC[1]/C2 $/atom:tmcC[1]/H1
$/bond:tmcC[1]/C4H2 @/bond:GAFF/ca-ha $/atom:tmcC[1]/C4 $/atom:tmcC[1]/H2
