$/improper:bytype1 @/improper:GAFF/X-X-ca-ha $/atom:mpd/C1 $/atom:mpd/C2 $/atom:mpd/C $/atom:mpd/H
$/improper:bytype2 @/improper:GAFF/X-X-ca-ha $/atom:mpd/C1 $/atom:mpd/C3 $/atom:mpd/C4 $/atom:mpd/H1
$/improper:bytype3 @/improper:GAFF/X-X-ca-ha $/atom:tmc/C1 $/atom:tmc/C2 $/atom:tmc/C $/atom:tmc/H
$/improper:bytype4 @/improper:GAFF/X-X-ca-ha $/atom:tmc/C2 $/atom:tmc/C4 $/atom:tmc/C3 $/atom:tmc/H1
